extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 #{username}
  
  a(href='/auth/login') Login
  br
  a(href='/auth/registration') Register
  br
  a(href='/auth/logout') Logout
