extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 #{username}
  
  a(href='/auth/logout') Logout

  #root

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='build/bundle.js')
