h1 LOGIN

form(action='/auth/login',method='post')
    input(type='text', name='username', value='postman@gmail.com')
    label(for='username') Username
    input(type='password', name='password', value='postman')
    label(for='password') Password
    input(type='submit', value='Login')
    
- if (messages && messages.error)
    .message= messages.error

h3 don't have account yet? => 
    a(href='/auth/registration') Register